:root {
  --bg-color: #000;
  --board-color: #9a4141;
  --red-color: #ff5555;
  --yellow-color: #ffaa00;
  --green-color: #55aa55;
  --blue-color: #5555ff;
  --board-width: 44rem;
  --board-height: 44rem;
  --card-bg-color: #fff;
  --card-height-desktop: 4.5rem;
  --card-width-desktop: 3rem;
  --number-fs-12: 0.75rem;
  --number-fs-16: 1rem;
  --number-fs-24: 1.5rem;
  --number-fs-32: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* global styles */
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

/* header styles */
.header-content {
  display: flex;
  flex-direction: column;
  margin-block: 1rem 4rem;
}
.header-title {
  text-align: center;
  display: block;
  color: var(--card-bg-color);
}
.play-button {
  position: absolute;
  margin-bottom: 10rem;
  margin-inline: auto;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  width: 60px;
  height: 40px;
  padding: 8px 12px;
  background-color: var(--bg-color);
  cursor: pointer;
  border-radius: 10px;
  color: var(--card-bg-color);
  font-weight: bold;
  border: 2px solid var(--card-bg-color);
}
/* center of the board */
.board-center {
  width: 300px;

  grid-area: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deck,
.discard-pile {
  position: relative;
  width: var(--card-width-desktop);
  height: var(--card-height-desktop);
  margin-inline: 10px;
}
.deck {
}
.discard-pile::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--bg-color);
  opacity: 0.1;
}

/* board styles */
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "4 top top top 5"
    "left z z z right"
    "left 1 center 2 right"
    "left x x x right"
    "3 bottom bottom bottom 6";
  margin-inline: auto;
  width: var(--board-width);
  height: var(--board-height);
  border-radius: 50px;
  background-color: var(--board-color);
}
.board::before {
  content: "";
  position: absolute;
  width: var(--board-width);
  height: var(--board-height);
  display: block;
  transform: scale(1.1);
  opacity: 0.5;
  border-radius: 50px;
  background-color: var(--board-color);
}

/* player styles */
.player-inner .current-cards {
  display: flex;
}
.player {
  font-weight: bold;
  font-size: var(--number-fs-24);
  color: var(--card-bg-color);
  text-align: center;
}
.player-left,
.player-right,
.player-top,
.player-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-top,
.player-bottom {
  height: 100px;
}
.player-left,
.player-right {
  width: 100px;
}
.player-left,
.player-right {
  flex-direction: column;
}
.player-right .card-container {
  rotate: -90deg;
  margin-block: -10px;
}
.player-left .card-container {
  rotate: 90deg;
  margin-block: -10px;
}
.player-top .card-container {
  rotate: 180deg;
  margin-inline: 3px;
}
.player-bottom .card-container {
  margin-inline: 3px;
}
.player-left {
  grid-area: left;
}
.player-right {
  grid-area: right;
}
.player-top {
  grid-area: top;
}
.player-bottom {
  grid-area: bottom;
}
/* rotate styles */
.rotate-left {
  transform: rotateX(-90deg) !important;
}
.rotate-right {
  transform: rotateX(90deg) !important;
}
.rotate-top {
  transform: rotateX(180deg) !important;
}
/* card styles */
.card-container {
  width: var(--card-width-desktop);
  height: var(--card-height-desktop);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  animation: popup 0.5s ease-in;
}
@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: var(--card-width-desktop);
    height: 0;
  }
  100% {
    width: var(--card-width-desktop);
    height: var(--card-height-desktop);
  }
}
.card-front,
.card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.card {
  margin: 2px;
  display: flex;
  justify-content: center;
  width: var(--card-width-desktop);
  height: var(--card-height-desktop);
  background-color: var(--card-bg-color);
  z-index: 2;
  border-radius: 5px;
  border: 1px solid var(--bg-color);
}
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--card-bg-color);
  border: 4px solid var(--card-bg-color);
}
.card .value {
  align-self: center;
  font-weight: 900;
  z-index: 3;
}
.value.top,
.value.bottom {
  position: absolute;
  color: var(--card-bg-color);
}
.normal-font-main {
  font-size: var(--number-fs-32);
}
.normal-font-secondary {
  font-size: var(--number-fs-16);
}
.smaller-font-main {
  font-size: var(--number-fs-24);
}
.smaller-font-secondary {
  font-size: var(--number-fs-12);
}
.value.top {
  top: 0;
  left: 4px;
}
.value.bottom {
  bottom: 0;
  right: 4px;
  transform: scale(-1);
}
.red {
  background-color: var(--red-color);
  color: var(--red-color);
}
.green {
  background-color: var(--green-color);
  color: var(--green-color);
}
.yellow {
  background-color: var(--yellow-color);
  color: var(--yellow-color);
}
.blue {
  background-color: var(--blue-color);
  color: var(--blue-color);
}
.black-wild,
.four-wild {
  background-color: var(--bg-color);
}
.card-elipsis-wild {
  position: absolute;
  top: 35%;
  left: -37%;
  width: 3.55rem;
  height: 2rem;
  background: linear-gradient(
    to top,
    var(--red-color) 25%,
    var(--blue-color) 25%,
    var(--blue-color) 50%,
    var(--yellow-color) 50%,
    var(--yellow-color) 75%,
    var(--green-color) 75%,
    var(--green-color) 100%
  );
  transform: rotate(-48deg);
  transform-origin: top;
  border-radius: 100%;
  z-index: 1;
}
.card-elipsis {
  position: absolute;
  top: 35%;
  left: -37%;
  width: 3.55rem;
  height: 2rem;
  background-color: var(--card-bg-color);
  transform: rotate(-48deg);
  transform-origin: top;
  border-radius: 100%;
  z-index: 1;
}
.top-elipsis {
  position: absolute;
  top: 7px;
  transform: scale(0.3);
  left: 0;
}
.bottom-elipsis {
  position: absolute;
  bottom: 7px;
  transform: scale(-0.3);
  right: 0;
}
.four-value {
  transform: rotate(48deg) translateX(8px);
  color: white;
}

/* util */
.in-deck {
  position: absolute;
}
.flip {
  transform: rotateY(180deg) translateX(-3px);
}

.invisible {
  visibility: hidden;
}
